h1,h2,h3 {
    color: rgb(10, 29, 201);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 500px; 
}

body {
    background-color: rgb(211, 162, 56);
  }

.center{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: 10px;
    border: 10px solid rgb(231, 213, 133);
}